section {
    text-align: center;
    position: relative;
}

div {
    margin: 0 auto;
    text-align: center;
}

.item {
	display: absolute;
	max-height: 50px;
}

#current-room {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('images/outer-space.png');
    height: 600px;
}

#room-name {
    background: white;
    margin-top: 20px;
}

#navigate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navigate img {
	max-height: auto;
	max-width: 50px;
	padding: 20px;
	left: 45%;
}

#start-game, {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.msg p {
    margin: 0 auto;
    width: 80px;
}